<!DOCTYPE html>
<html>
  <head>
    <title>helpers portal</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <style>
      body{
        position: relative;
      }
      html, body {
      min-height: 100%;
      background-image: url("assets/bgimg.jpg");
      }
      body, div, form, input, select, textarea, label { 
      /* background-image: url("./bgimg.jpg"); */
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: rgb(65, 65, 65);
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin:0;
      font-size: 60px;
      color: #fff;
      z-index: 2;
      line-height: 83px;
      top:30px;
      }
      legend {
      padding: 10px;      
      font-family: Roboto, Arial, sans-serif;
      font-size: 18px;
      color: #fff;
      background-color: #1c87c9;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      background-color: rgba(255,255,255,0.7);
      width: 70%;
      padding: 20px;
      border-radius: 6px;
      /* background: #fff; */
      }
      .banner {
      position: relative;
      height: 250px;
      background-image: url("assets/bgimg3.jpeg");  
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      input[type="date"] {
      padding: 4px 5px;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color:  #006622;
      }
      .checkbox input[type=checkbox] {
      display:inline-block;
      height:15px;
      width:15px;
      margin-right:5px;
      vertical-align:text-top;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 0  #006622;
      color: #006622;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item span {
      color: red;
      }
      .week {
      display:flex;
      justfiy-content:space-between;
      }
      .colums {
      display:flex;
      justify-content:space-between;
      flex-direction:row;
      flex-wrap:wrap;
      }
      .colums div {
      width:48%;
      }
      input[type=radio], input[type=checkbox]  {
      display: none;
      }
      label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      .question-answer label {
      display: block;
      }
      label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      input[type=radio]:checked + label:before, label.radio:hover:before {
      border: 2px solid  #006622;
      }
      label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid  #006622;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      .flax {
      display:flex;
      justify-content:space-around;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background:  #1c87c9;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background:  #0692e8;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .name-item div {
      width: calc(50% - 20px);
      }
      .name-item div input {
      width:97%;}
      .name-item div label {
      display:block;
      padding-bottom:5px;
      }
      }
    </style>
  </head>
  <body>


    <div class="backtohome"style="
     position: absolute;
    top: 39px;
    border-radius: 0;
    left: 242px;
    z-index: 10;">
      <button><a href="http://localhost:3000"></a> HOME </a></button>
    </div>









    <div class="testbox">
    <form action="/helper" method="POST">
      <div  class="banner">
        <h1>Form</h1>
      </div>
      <br/>
      <fieldset>
        <legend>general details</legend>
        <div class="colums">
          <div class="item">
            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="first_name" />
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="last_name" />
          </div>
          <div class="item">
            <label for="address">Email Address<span>*</span></label>
            <input id="address" type="text"   name="email" />
          </div>
          <div class="item">
            <label for="phone">Phone Number</label>
            <input id="phone" type="tel"   name="phone"/>
          </div>
          <div class="item">
            <label for="saddress">district</label>
            <input id="saddress" type="text"   name="city" />
          </div>
          <div class="item">
            <label for="city">state</label>
            <!-- <input id="city" type="text"   name="city" /> -->
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="state" class="form-control selectpicker" style="padding: 6px; width: 208%;">
            <option value=" ">Please select your state</option>
            <option>Andhra Pradesh</option>
            <option>Arunachal Pradesh</option>
            <option>Assam</option>
            <option>Bihar</option>
            <option>Chhattisgarh</option>
            <option>Goa</option>
            <option>Gujarat</option>
            <option>Haryana</option>
            <option>Himachal Pradesh</option>
            <option>Jammu and Kashmir</option>
            <option>Jharkhand</option>
            <option>Karnataka</option>
            <option>Kerala</option>
            <option>Madhya Pradesh</option>
            <option>Maharashtra</option>
            <option>Manipur</option>
            <option>Meghalaya</option>
            <option>Mizoram</option>
            <option>Nagaland</option>
            <option>Odisha</option>
            <option>Punjab</option>
            <option>Rajasthan</option>
            <option>Sikkim</option>
            <option>Tamil Nadu</option>
            <option>Telangana</option>
            <option>Tripura</option>
            <option>Uttar Pradesh</option>
            <option>Uttarakhand</option>
            <option>West Bengal</option>
          </select>
        </div>            
          </div>
          <div class="item">
            <label for="zip">Zip/Postal Code</label>
            <input id="zip" type="text"   name="zip" />
          </div>
          <div class="item">
            <label for="country">Complete address</label>
            <input id="country" type="text"   name="address" />
          </div>
      </fieldset>
      <br/>
      <fieldset>
      <legend>Donation Details</legend>
      <div class="colums">
      </div>
      <!-- <div class="checkbox">
      <p>May we thank you publicly?</p>
      <label><input type="checkbox"/>No, please keep my information anonymous
      </label>
      </div> -->
      <div class="item">
      <label for="amount">Help Provided<span>*</span></label>
      <!-- <input id="amount" type="number"   name="amount" /> -->
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="help" style="width: 100%; padding: 6px;" class="form-control selectpicker">
      <option value=" ">Please select your option</option>
      <option>Oxygen cylinder</option>
      <option>Ventillator</option>
      <option>oxymeter</option>
      <option>Plasma</option>
      <option>Other medical equipment</option>
    </select>
  </div>
    </div>
      <div class="item">
      <label for="donation">Description</label>
      <textarea id="donation" rows="3" name="comment"></textarea>
      </div>
      </fieldset>
      <div class="btn-block">
      <button type="submit" href="/">Submit</button>
      </div>
    </form>
    </div>
  </body>
</html>