@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html,body{
  min-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

header .navigation {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: center;
  /* position: fixed; */
  position: relative;
  min-height: 9vh;
  min-width: 100%;
  z-index: 10;
  margin-bottom: 35px;
  background: #0f1423;
  border-bottom: 2px solid #0c2d48;
}

header .navigation .logo{
  position: absolute;
  margin-left: 20px;
}

header .navigation .logo h1{
  color: #b1d4e0;
  font-size: 30px;
  line-height: 38px;
}

header .navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: auto 20px auto 0;
  margin-right: 2.5rem;
}

header .navigation .humbarger {
  margin-right: 20px;
  display: none;
 }
 
header .navigation .humbarger .bar{
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
 }

header .navigation .menu-list li a {
  position: relative;
  color: #b1d4e0;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}

/* ====================
  Intro Section
=======================*/
.intro-section {
  height: 85vh;
  position: relative;
  /* background: rgba(114, 128, 170, 0.9); */
  /* background: linear-gradient(to bottom, rgb(247, 239, 239) , rgb(63, 63, 90)); */
}
/* rgba(15, 20, 35, 0.9); */

.intro-section .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 25%;
  top: -10%;
}

.intro-section .intro-content h1 {
  color: #0f1423;
  font-size: 10rem;
  letter-spacing: 5px;
  position: relative;
  /* left: 25%; */
  /* text-transform: uppercase; */
  /* top: -20%; */
  /* margin-top: 80px; */
  font-weight: bolder;
}

.intro-section .intro-content h6{
  margin-top: 5px;
  color: #e64a1b;
  font-size: 3.5rem;
  font-weight: 300;
  position: relative;
  left: 16%;
  /* text-transform: uppercase; */
  /* top: -20%; */
}
 .intro-section .intro-content .para{
  display: flex;
  align-items: center;
  text-align:center;
  height: 182px;
  width: 483px;
  justify-content: center;
  font-size: 1.5rem;
  color: #0f1423;
}/*
.intro-section .intro-content p {
  /* margin-top: 40px; */
 /* color: #b1d4e0;
  position: relative;
  left: 25%;
  top: -30%;
} */

.intro-content .tagline {
  /* margin-top:80px; */
  display:flex;
  flex-direction: column;
  /* align-items: center;
  position: relative;
  left: 25%;
  top: -20%; */
}


.intro-section .intro-content .tagline .change-container{
	position: relative;
  display: flex;
  width: 560px;
  margin-bottom: 55px;
	margin-top: 30px;
  left: 25%;
  top: 15%;
  
}

.intro-section .intro-content .changing {
	position: absolute;
	overflow: hidden;
  width: 100%;
  left:-120px;
  bottom:0;
  height:0;
  opacity:0;
  /* color: #b1d4e0; */
  color: red;
  text-transform: uppercase;
  word-spacing: 5px;
	text-align: center;
	font-size: 2.5rem;
  
}

.changing:nth-child(1) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
}

.changing:nth-child(2) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
}

.changing:nth-child(3) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
}

@keyframes revealNextWord {
  0% { 
    opacity: 0.3; 
    height: 0.0; 
  }
  10% { 
    opacity: 1; 
    height:1.2em; 
  }
  20% { 
    opacity: 1; 
    height:1.2em; 
  }
  28% { 
    opacity: 0; 
    height:2em; 
  }
  
}
/* .intro-section .intro-content */
 .header-btn a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #0f1423;
  background-color: #b1d4e0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

 .header-btn a:before{
	position: absolute;
  content: ""; 
  top: -20px;
  height: 300%;
  left: -100%;
  width: 0%;
  background-color: #3498db;
  transform: skew(30deg);
  transition-duration: 1s;
  z-index: 1;
}


 .header-btn a:hover {
  color: #b1d4e0;
}

.header-btn a:hover:before{
  width: 300%;

}

 .header-btn a span{
	position: relative;
	z-index: 9;
}

/* ====================
  Responsive Section
=======================*/ 

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

  header .navigation .menu-list {
    position: absolute;
    top: 12vh;
    min-width: 100%;
    background: rgba(15, 20, 35, 0.99);
    text-align: center;
    display: none;
    margin-right: 0 ;
  }
  header .navigation .menu-list li {
    display: block;
  }
  .seco_nav{
    display: none !important;
  }
  .logo{
    top: 0 !important;
  }
  header .navigation .menu-list li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }

  header .navigation .menu-list li a:hover{
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }


  header .navigation .humbarger{
    display: block;
  }

  .intro-section .intro-content h1 {
    font-size: 2.8rem;
  }

  .intro-section .intro-content h6 {
    font-size: 1.4rem;
  }

  .intro-section .intro-content .changing {
    font-size: 1.5rem;
  }

  .intro-section .intro-content .header-btn a ,#login_btn {
    font-size: 1.25rem;
  }


}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {

  .intro-inner .intro-content h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .intro-inner .intro-content p {
    margin-top: 10px;
  }

}
    

/*******************************************************/
/* my work */
/*******************************************************/
.seco_nav{
  height: 9vh;
  background-color: #0f1423;
  display: flex;
  flex-direction: row-reverse;
}

.logo{
  top: -36px;
  left: 0;
}

#login_btn{
  font-family: roboto;
  font-weight: 700;
  border: none;
  text-decoration: none;
  position: relative;
  color: #0f1423;
  background-color: #b1d4e0 ;
  padding-top: 1rem;
  margin-right: 2.5rem;
  padding-left: 2rem;

  padding-right: 2rem;
  margin-top: 2rem;
  padding-bottom: 8px;
  font-size: 1.8rem;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.5s;
  /* text-transform: uppercase; */
}
#login_btn::before{
  position: absolute;
  content: '';
  height: 100%;
  width: 0%;
  background-color:#3498db ;
  top: 0;
  left: -15px;
  transform: skew(30deg);
  transition: 0.5s;
}
#login_btn:hover::before{
  width: 200%;
}
#write{
  position: relative;
  z-index: 10;
}

#login_btn:hover{
  /* background: #3498db; */
  color:#b1d4e0 ;
}

header .navigation .menu-list li a:before{
  position: absolute;
  content: '';
  height: 2px;
  width:0%;
  bottom: -8px;
  left: 0;
  background-color: #b1d4e0;
  transition: 0.5s;
}
header .navigation .menu-list li a:hover:before{
  width: 100%;
}
/**************************/

