.container1{
    height: 80vh;
    width: 55vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding: 0;
    overflow: hidden;
    
}
.carousel img{
    height:85vh ;
    width: 100%;
}