.cont{
  width: 100vw;
  height: 100vh;
}
#search{
  width: 100vw;
  height: 10vh;
  padding: 10px 75px;
  display: flex;
}
.search{
  display: flex;
  width: 100%;
  position:relative;
  align-items: center;
  margin: 5px auto;
}
.bookmarks{
  height: 90vh;
}
input{
  height: 35px;
  /* width: 100px; */
  padding: 5px 15px;
  margin: 10px;
}
.new{
  display: flex;
}
.form-horizontal .form-group {

  margin-right: -15px;
  margin-left: -15px;
  width: 150%;
}

@media (min-width: 992px)
.col-md-4 {
  width: 0px;
}
.input-group {
  position: relative;
  display: table;
  width: 175%;
  border-collapse: separate;
}
